.title {
  font-family: "Glacial Indifference", sans-serif;
  font-size: 75px;
  font-weight: lighter;
  color: white;
  text-align: center;
}

.inputField {
  position: relative;
  display: flex;
  justify-content: center;
}

.taskName {
  border-radius: 20px;
  height: 40px;
  width: 350px;
  background-color: #f79f95;
  border-color: #f79f95;
}

.searchButton {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 50px;
  padding: 0;
  z-index: 10;
  display: inline;
  position: absolute;
  right: 2px;
  top: 12px;
}

.searchImage {
  width: 20px;
  height: 20px;
}

.searchButton2 {
  border-radius: 20px;
  display: flex;
  margin-top: 20px;
  background-color: #f7d6d0;
  height: 40px;
  width: 150px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.keywordInput {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.logo {
  width: 90%;
  height: 30px;
  margin-top: 75px;
  margin-left: 10px;
}

.description {
  font-size: 10px;
  color: #fcdcd8;
}

.photoGallery {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 100%;
}

.photoGalleryImage {
  width: 200px;
  height: 200px;
  padding: 50px;
  padding-bottom: 0px;
}

.photoGalleryPadding {
  height: 320px;
  margin-left: 25px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgba(50, 12, 1, 0.6);
}

.photoGalleryPadding:hover {
  transform: scale(1.1);
}

.photoGalleryDescription {
  font-size: 10px;
  color: white;
  font-family: "Glacial Indifference", sans-serif;
  overflow-x: scroll;
  overflow-y: scroll;
  text-align: center;
  width: 200px;
  padding-left: 50px;
  height: 30px;
}

.noImagesTitle {
  font-family: "Glacial Indifference", sans-serif;
  font-size: 55px;
  font-weight: lighter;
  color: black;
  text-align: center;
  margin-left: 250px;
  margin-top: 325px;
}
